.right-menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
}

.right-menu-wrapper-show {
  display: block;
}

.right-menu-container {
  position: fixed;
  min-width: 160px;
  background: #333;
  z-index: 111;
  box-shadow: 0 1px 6px rgb(20 20 45 / 65%);
}

.right-menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-menu-container ul > li {
  padding: 7px 12px;
  cursor: default;
  color: #e1e7f1;
  line-height: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.right-menu-container ul > li .icons {
  display: inline-block;
  vertical-align: middle;
  margin: -1px 6px 0 0;
}

.right-menu-container ul > li:hover {
  background: rgb(19 78 123);
  color: #e1e7f1;
}

.right-menu-container ul .disable-menu {
  cursor: not-allowed;
  color: #aaa;
}

.right-menu-container ul .disable-menu .icons {
  filter: brightness(0.6);
}

.right-menu-container ul .disable-menu:hover {
  background: transparent;
  color: #aaa;
}
