.wskco-animation-line-text {
  &__text {
    font-size: 100px;
  }

  &__text-copy {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 7% 28%;
    stroke-width: 3px;
    -webkit-animation: stroke-offset 9s infinite linear;
    animation: stroke-offset 9s infinite linear;

    &:nth-child(1) {
      stroke: #360745;
      stroke-dashoffset: 7%;
    }
    &:nth-child(2) {
      stroke: #d61c59;
      stroke-dashoffset: 14%;
    }
    &:nth-child(3) {
      stroke: #e7d84b;
      stroke-dashoffset: 21%;
    }
    &:nth-child(4) {
      stroke: #efeac5;
      stroke-dashoffset: 28%;
    }
    &:nth-child(5) {
      stroke: #1b8798;
      stroke-dashoffset: 35%;
    }
  }
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
